@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.title {
	font-family: 'Zen Dots', cursive;
	text-align: center;
	font-size: 3.5rem;
	padding: 20px;
	color: white;
	background-color: navy;
}

.footer {
	font-size: 1rem;
	color: white;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 10px;
	background-color: navy;
}